body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #000000;
    background-color: rgb(159, 3, 216);
    padding: 30px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center; 
}

img { 
    width: 800px;
    height: auto; 
    border-radius: 8px;
}

button {
    padding: 5px 8px;
    color: #000000;
    border: 0px solid;
    cursor: pointer;
    background-color: #03d858;
    font-size: 10.0pt (13.3333px);
    font-weight: normal;
}


button:hover {
    background-color: rgb(169, 4, 4);
    color: #ffffff;
}